.geoChart path{
	stroke-miterlimit:50;
	stroke-width: 3px;

	will-change: fill,stroke;

	-webkit-transition: fill .2s, stroke .2s;
	-moz-transition: fill .2s, stroke .2s;
	-ms-transition: fill .2s, stroke .2s;
	-o-transition: fill .2s, stroke .2s;
	transition: fill .2s, stroke .2s;
}
.xtrGraficoTitulo{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
			flex-direction: column;

	-webkit-justify-content: center;
			justify-content: center;

	margin: 0.6em 0.6em 0em;

	font-weight: 600;
}
.xtrGraficoTitulo > .linha{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row;
			flex-direction: row;

	-webkit-justify-content: center;
			justify-content: center;

	margin: 0.3em 0.6em;
}
.xtrGraficoTitulo .subTitulo:first-child{
	padding-bottom: 0.6em;
	border-bottom: 1px solid #B9C4DF;
}
.xtrGraficoTitulo .subTitulo:last-child{	
	padding-top: 0.6em;
	border-top: 1px solid #B9C4DF;
}
.xtrGraficoTitulo .subTitulo{
	margin: 0.6em 0.6em;
	opacity: 0.4;
}
.xtrGraficoTitulo > .linha > *{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-flex-grow: 1;
			flex-grow: 1;
	-webkit-flex-basis: 0;
			flex-basis: 0;

	text-align: center;
}
.xtrGraficoTitulo > .linha > *:not(:last-child):not(:only-child){	
	border-right: 1px solid #B9C4DF;
}
.xtrGraficoTitulo:after{
	content: " ";
	margin-top: 0.6em;
	border-bottom: 1px solid #B9C4DF;
}
.xtrGrafico{
	min-width:100%; 
	width:100%; 
	max-width:100%;

	max-height:525px; 
	height:525px; 
	min-height:525px;
}
.xtrGrafico path,
.xtrGrafico g rect{
	cursor: pointer;
}
.xtrLegenda input[type="checkbox"],
.xtrGrafico + * input[type="checkbox"]{
	display: none;
}

span.sub{
	font-size: .6rem;
	line-height: .6rem;
}